greeting_text={
Это программа оценки тональности текста, написанная в рамках практических работ группы 3.3 по программной инженерии.
Продвинутая версия. Модульная реализация.
Нажмите Enter для продолжения...
}
start_text={
Введите некоторый текст и программа оценит его окрас (негативный, позитивный, нейтральный):
}
neutral_text={
Чёрт знает что хотел сказать автор
}
positive_text={
По нашему мнению это доброе высказывание от хорошего человека
}
negative_text={
Это плохое высказывание от какого-то душнилы
}
repeat_text={
Хотите попробовать еще? (y - повтор, n - выйти): 
}
end_text={
Спасибо, что воспользовались нашим ПО! До встречи!
}
